<header>
  <h1><%= @keep.title %>
    <% if policy(@keep).edit? %>
      <%= link_to "Edit Keep", edit_user_keep_path, class: "btn btn-warning btn-xs" %>
    <% end %>
    <% if policy(@keep).destroy? %>
      <%= link_to "Delete Keep", user_keep_path, method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Are you sure you want to delete this keep?" } %>
    <% end %>
    <% if policy(Keeper.new).create? %>
      <%= link_to "New Keeper", new_keep_keeper_path(@keep), class: "btn btn-success btn-xs" %>
    <% end %>
  </h1>
</header>
<div class="row">
  <%= render partial: "keepers/keeper", collection: @keep.keepers %>
</div>
</br>
<%= link_to "Back", :back, class: "btn btn-info btn-xs" %>
