<!DOCTYPE html>
<html>
<head>
  <title>Keep your Keepers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "Keep your Keepers", root_path, class: "navbar-brand" %>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><a href="#">Current user: <%= current_user.username %></a></li>
            <!--change keepers path to user#show-->
            <li><%= link_to "Keepers", root_path %></li>
            <li><%= link_to "Edit profile", edit_user_registration_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="flash">  
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>
  
  <%= yield %>
  
  <hr class="divider-color">
  
  <footer class="footer">
    <p>© 2015-2016 John McIntosh II</p>
  </footer>
  
</div>
  
</body>
</html>
